.container {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  background: linear-gradient(#c4fcfc, #ffe9c9);
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.input {
  background: #defbff;
  font-size: 1em;
  font-family: inherit;
  font-weight: 200;
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
  border-color: rgba(166, 111, 68, 0.834);
}

.input.disabled {
  background: lightgrey;
}

.main-button {
  font-family: 'Josefin Sans', 'Roboto', 'Source Sans Pro', sans-serif;
  color: rgb(119, 68, 1);
  font-size: 1em;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 3px 3px rgb(119, 68, 1);
  background: linear-gradient(#ffe9c9, #c4fcfc);
  border: 0;
  filter: drop-shadow(-1px -1px 3px rgba(0, 0, 0, 0.18));
}

.main-button:hover {
  cursor: pointer;
  transition: transform 100ms, box-shadow 100ms;
  transform: translate3d(2px, 2px, 0);
  box-shadow: 1px 1px rgb(84, 48, 0);
}

/* .chessboard__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
} */

/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
