.home-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 100px;
  /* margin-top: 5%; */
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-wrap: wrap;
  color: #333;
  position: relative;
}

.welcome {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  max-height: 400px;
  position: relative;
}

.welcome-title {
  font-weight: 300;
  letter-spacing: 0.15em;
  position: relative;
  /* display: flex; */
  font-size: 2.3em;
}

.welcome-acchess {
  font-weight: 600;
  transform: translateX(100%);
}

.welcome-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 15%;
  width: 90%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #5f5ff3 0%,
    #b67dff 33%,
    #ff83cd 66%,
    transparent 100%
  );
}

.welcome-slogan {
  transform: translateY(-40%);
  font-weight: 200;
  font-size: 18px;
  font-style: italic;
}

.welcome-presentation {
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 0.08rem;
  color: #111;
}